body {
    background-image: linear-gradient(to bottom, #90EE90, #32CD32), linear-gradient(to bottom, #FFA07A, #FF4500);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    color: #fff;
}

form {
    background-image: linear-gradient(to bottom, #4B0082, #191970), linear-gradient(to bottom, #FFA07A, #FF4500);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding: 20px;
}

legend {
    font-weight: bold;
    font-size: 24px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
}

input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
